<h1 class="text-4xl text-blue-800 border-blue-800"><%= @trip.name %></h1>
<h2 class="text-xl text-gray-600"><%= @trip.country %>, <%= @trip.city %></h2>
<!-- <img src="../../assets/images/acropole.jpg" alt=""> -->
Tasks list button
</br>
<div id="wrapper-day">
  <div data-controller="carousel" class="swiper-container h-full">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
          <div class="wrapper-activity border-2 border-black rounded-2xl">
            <%= link_to "#" do %> <!-- trip_booking_path(@trip) !-->
              <div class="wrapper-image rounded-xl box-shadow">
                <%= image_tag "acropole.jpg", alt: "Acropole", class: "" %>
              </div>
              <div class="pt-3 pl-5">
                <p>trip.booking.title</p>
                <div class="flex justify-between pr-5">
                  <div class="">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  10h30
                </div>
              </div>
            <% end %>
          </div>

          <div class="wrapper-activity border-2 border-black rounded-2xl">
            <%= link_to "#" do %> <!-- trip_booking_path(@trip) !-->
              <div class="wrapper-image rounded-xl box-shadow">
                <%= image_tag "lycabette.jpg", alt: "Lycabette", class: "" %>
              </div>
              <div class="pt-3 pl-4">
                <p>trip.booking.title</p>
                <div class="flex justify-between pr-5">
                  <div class="">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  14h30
                </div>
              </div>
            <% end %>
          </div>

      </div>

      <div class="swiper-slide bg-red-400">
        Activity D+1
      </div>
      <div class="swiper-slide bg-green-400">
        Activity D+2
      </div>
      <div class="swiper-slide bg-yellow-400">
        Activity D+3
      </div>
    </div>
  </div>
</div>
</br></br>
<div class="container inline-flex justify-around">
  <%= link_to "Homepage", root_path, class: "bg-blue-400 rounded-md p-3 text-white hover:bg-opacity-40 hover:p-6 shadow-md" %>
  <%= link_to "Bookings", trip_bookings_path(@trip), class: "bg-red-400 rounded-md p-3 text-white hover:bg-opacity-40 shadow-md" %>
  <%= link_to "Activities", activities_path, class: "bg-green-400 rounded-md p-3 text-white hover:bg-opacity-40 shadow-md" %>
</div>
