<div class="wrapper-title flex items-end px-2 border-2 border-black rounded-2xl">
  <h1 class="text-4xl text-blue-800 border-blue-800"><%= @trip.name %></h1>
  <h2 class="text-xl text-gray-600"><%= @trip.country %>, <%= @trip.city %></h2>
</div>
<div id="wrapper-day">
  <!-- Start Caroussel controller-wrapper -->
  <div data-controller="carousel" class="swiper-container bg-gray-100 rounded-2xl">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
  <!-- End Caroussel controller-wrapper -->
        <% 5.times do %>
          <div class="wrapper-activity border-2 border-black rounded-2xl">
            <% @trip.activities.each do |activity| %>
              <%= link_to activity_path(activity.id) do %>
                <div class="wrapper-image rounded-xl box-shadow">
                  <% if activity.photo_title.present? %>
                    <%= image_tag "#{activity.photo_title}.jpg", alt: "#{activity.name}", class: "" %>
                  <% end %>
                </div>
                <div class="pt-3 pl-5">
                  <h4><%= activity.name %></h4>
                  <div class="flex justify-between pr-5">
                    <!-- Convert ratings into stars or display them as a x/5 -->
                    <div class="">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                     10h45 <!-- Something like that => trip_activities.date(@trip)-->
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>

      </div>

      <div class="swiper-slide bg-red-400">
        Activity D+1
      </div>

      <div class="swiper-slide bg-green-400">
        Activity D+2
      </div>

      <div class="swiper-slide bg-yellow-400">
        Activity D+3
      </div>

    </div>
  </div>
</div>

<div class="wrapper-booking">
  <%= link_to "#" do %> <!-- booking_path(@booking) !-->
    <div class="p-4 border-2 border-black rounded-2xl mt-4 shadow">
      booking.name
    </div>
  <% end %>
</div>

<%= render 'shared/buttons-navigation' %>
