<div class="container" data-controller="task">
  <main class="p-4 shadow-lg text-gray-700 text-center mt-2">
      <div class="flex flex-col m-auto pb-4">
          <div class="justify-around flex flex-row items-baseline mb-2">
              <h1 class="underline text-xl mt-2 ml-3">Tasks list</h1>
          </div>

      <% @tasks.each do |task| %>
          <label class="custom-label text-justify flex mt-2 ml-3">
              <div class="bg-white rounded-md shadow w-6 h-6 p-1 flex">
                  <input type="checkbox" class="hidden" <%= "checked" if task.done %> data-action="change->task#change" data-task-id="<%= task.id %>">
                  <svg class="hidden w-4 h-4 text-gray-900 font-bold rounded pointer-events-none" viewBox="0 0 172 172"><g fill="none" stroke-width="none" stroke-miterlimit="10" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode:normal"><path d="M0 172V0h172v172z"/><path d="M145.433 37.933L64.5 118.8658 33.7337 88.0996l-10.134 10.1341L64.5 139.1341l91.067-91.067z" fill="currentColor" stroke-width="1"/></g></svg>
              </div>
                <p class="text-justify mx-3 text-md text-gray-100"><%= task.description %>
                  <div class="text-white absolute right-6 px-2">
                  <%= link_to 'x',
                  task_path(task),
                  method: :delete %>
                </div>
                </p>
          </label>
         <% end %>

          <div class="rounded font-bold px-2 py-2 border my-4 mt-20">
            <%= simple_form_for([@trip, @task]) do |f| %>
              <%= f.input :description, :as => :string,  placeholder: "Add a task" %>
              <div class="button-tasks text-gray-800 text-md font-bold px-2 py-2 border rounded-full my-4">
                <%= f.submit value: "Add", class: "button-tasks mb-2 text-white px-24 text-md font-bold" %>
              </div>
            <% end %>
          </div>
    </div>
  </main>

  <style>
      .custom-label input:checked + svg {
          display: block !important;
      }
  </style>

</div>

