
<div class="container flex flex-col rounded-2xl w-full">
	<% @all_bookings.each do |booking| %>
<<<<<<< HEAD
	<div class="flex my-3 flex-row-reverse bg-red-300">
		<div class="bg-blue-300 text-center w-64 relative">
			<%= image_tag "#{booking.photo_title}.jpg", alt: "#{booking.name}"%>
			<div class="bg-gray-300 absolute w-10 top-0 right-0">
				<p><%= booking.category %></p>
			</div>
			<div class="w-12 flex-row bg-yellow-300 absolute bottom-0 right-0">
			    <p><%= booking.price %>€</p>
=======
	<div class="card flex flex-row-reverse bg-red-300 my-3">
		<div class="bg-blue-300">
			<%= image_tag "#{booking.photo_title}.jpg", alt: "#{booking.name}"%>
			<div class="bg-gray-300 absolute justify-end">
				<p><%= booking.category %></p>
				<div class="flex-row">
				    <p><%= booking.price  %>
				    <div class="w-6">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			  			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.121 15.536c-1.171 1.952-3.07 1.952-4.242 0-1.172-1.953-1.172-5.119 0-7.072 1.171-1.952 3.07-1.952 4.242 0M8 10.5h4m-4 3h4m9-1.5a9 9 0 11-18 0 9 9 0 0118 0z" />
						</svg>
				    </div>
					</p>
				</div>
>>>>>>> 7acd80c13bdbfc801deaf6da82897619bcbddd25
			</div>
	    </div>
		<div class="w-64">
			<p><%= booking.name %></p>
			<p><%= booking.address %></p>
			<div class="">
			    <p><%= booking.begin_date %></p>
			    <p><%= booking.end_date %></p>
			</div>
		</div>
	</div>
	<% end %>
</div>
