
<div class="container flex flex-col rounded-2xl p-2">
  <h4 class="text-center">My Bookings</h4>
  <% @all_bookings.each do |booking| %>
  <div class="flex my-3 flex-row-reverse bg-gray-100">
    <div class="bg-gray-100 text-center w-64 relative">
      <%= image_tag "#{booking.photo_title}.jpg", alt: "#{booking.name}"%>
      <div class="absolute text-white font-bold w-10 top-0 right-0 mx-4">
        <p><%= booking.price.to_i %>€</p>
      </div>
      </div>
    <div class="w-64 text-sm">
      <p class="font-bold"><%= booking.name %> - <%= booking.category %>  </p>
      <p><%= booking.address %></p>
      <div class="">
        <p><%= booking.begin_date.to_formatted_s(:long)  %></p>
        <p><%= booking.end_date.to_formatted_s(:long) %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>



