<footer class="flex flex-col w-screen sticky bottom-0 z-10 bg-gray-100">
  <div class="container inline-flex justify-around mb-2">

    <%= link_to root_path do %>
        <i class="fas fa-home text-gray text-2xl"></i>
    <% end %>

     <%= link_to trip_path(@trip) do %>
        <i class="fas fa-caret-square-right text-gray text-2xl"></i>
    <% end %>

    <%= link_to trip_bookings_path(@trip) do %>
      <i class="fas fa-dollar-sign text-gray-600 text-2xl"></i>
    <% end %>

    <%= link_to new_trip_trip_activity_path(@trip) do %>
      <i class="fas fa-map text-gray-600 text-2xl"></i>
    <% end %>

    <%= link_to trip_tasks_path(@trip) do %>
      <i class="fas fa-tasks text-gray-700 text-2xl"></i>
    <% end %>

    <%= link_to user_session_path do %>
      <i class="far fa-user text-gray-600 text-2xl"></i>
    <% end %>
  </div>
</footer>
