<nav class="w-screen container justify-between sticky top-0 z-1">
  <ul>
    <li>
      <div class="padding-bell text-gray-700 p-3 shadow-custom-navbar">
        <%= link_to "#" do %>
          <div data-controller="fakebooking" data-fakebooking-target="count">
            <i class="far fa-bell text-gray text-2xl text-gray-600"></i>
          </div>
        <% end %>
      </div>
    </li>
    <li>
      <!-- Start Burger menu -->
      <div class="burger-toggle">   <!-- Button to toggle -->
        <div class="burger-toggle-bar"></div>
      </div>
      <!-- Inside Burger -->
      <div class="flex items-center justify-center burger" id="burger"> <!-- Contenu -->
        <ul>
          <li>
            <div class="border-2 border-red-500">
              <% @trips.each do |trip| %>
                <div class="wrapper-card-burger border-2 border-green-500 h-44 text-center mx-4 mb-6">
                  <%= link_to trip_path(trip) do %>
                    <div class="wrapper-image relative justify-between rounded-2xl mb-6 shadow-custom-card">
                      <%= image_tag "#{trip.photo_title}.jpg", alt: "#{trip.name}", class: "rounded-lg" %>
                      <div class="text-white box-content container flex flex-col ">
                        <h5><%= trip.name.upcase %></h5>
                        <p>From <%= trip.begin_date %> to <%= trip.end_date %></p>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
