<nav class="w-screen container justify-between sticky top-0 z-10">
  <ul>
    <li>
      <div class="padding-bell pl-3 pt-2 pb-2 shadow-custom-navbar">
        <%= link_to "#", id: "notifBell", onclick: "notifClick()" do %>
          <div data-controller="fakenotif" data-fakenotif-target="count">
            <i class="far fa-bell text-gray-200 text-2xl text-left"></i>
          </div>
        <% end %>
      </div>
    </li>
    <li>
      <!-- Start Burger menu -->
      <div class="burger-toggle">   <!-- Button to toggle -->
        <div class="burger-toggle-bar"></div>
      </div>
      <!-- Inside Burger -->
      <div class="flex items-center justify-center burger" id="burger"> <!-- Contenu -->
        <ul>

          <li>
            <% Trip.all.each do |trip| %>
              <div class="wrapper-card-burger relative shadow-custom-card text-center mx-4">
                <%= link_to trip_path(trip) do %>
                    <% if trip.photo_title && !trip.photo_title.empty? %>
                      <%= image_tag "#{trip.photo_title}.jpg", alt: "#{trip.name}", class: "rounded-lg" %>
                    <% end %>
                    <div class="box-content container absolute top-3 content-between">
                      <div class="text-white">
                        <h5><%= trip.name.upcase %></h5>
                      </div>
                      <div>
                        <p>From <%= trip.begin_date %> to <%= trip.end_date %></p>
                      </div>
                    </div>
                <% end %>
              </div>

              <hr>

            <% end %>
          </li>
          <li>
            <div class="container inline-flex justify-around">
              <%= link_to new_trip_path do  %>
                <div class="custom-text-button px-4 py-4 border rounded-full">
                  +
                </div>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </li>




  </ul>
      <!-- End Burger menu -->
</nav>
<div class="hidden body-black-toggle"></div>

<!-- Internal script stuff for fake notif system -->
<!-- Do not remove -->
<script>
  function notifClick() {
    const hiddenNotifMessageElement = document.getElementById("notif-message")
    const hiddenNotifTypeElement = document.getElementById("notif-type")
    const hiddenNotifDataElement = document.getElementById("notif-data")
    if (hiddenNotifMessageElement) {
      // console.log(hiddenNotifMessageElement.innerText)
      // console.log(hiddenNotifTypeElement.innerText)
      // console.log(hiddenNotifDataElement.innerText)
      <% new_booking = Booking.where("name = ?", 'Flight LYS - KEF to store') %>
      console.log("Query done");
      <% if new_booking.any? %>
        console.log("Found new_booking");
        console.log("Should rename it");
        <% new_booking.first.name = "Flight LYS - KEF" %>
        <% new_booking.first.save! %>
      <% end %>
    }
  }
</script>
