<main class="p-4 rounded-lg shadow-lg max-w-lg mx-auto text-center mt-2">
  <h2 class="font-bold text-2xl text-center"><%= @activity.name %></h2>

  <div class="text-gray-200 text-md font-bold px-4 pb-2 pt-3 border rounded-full my-4">
    <i class="fa fa-map-marker" aria-hidden="true">
      <%= link_to @activity.address, "https://maps.google.com/?q=#{@activity.address}" %>
    </i>
  </div>

  <div class="mw-full rounded overflow-hidden shadow-lg my-2">
    <%= image_tag "#{@activity.photo_title}.jpg", alt: "#{@activity.name}" %>
  </div>

  <div class="grid place-items-center">
    <section class="flex flex-col md:flex-row gap-11 py-2 px-5">
      <div class="flex flex-col justify-between">
        <div class="text-justify text-gray-200 mt-2">
          <%= @activity.description %>
        </div>
      </div>
    </section>
  </div>

  <div class="flex">
    <div class="flex-auto p-3">
      <div class="flex-auto p-1 text-gray-500">
        <h4 class="font-bold">Opening hours</h4>
        <div class="text-sm text-gray-200">
          <% show_opening_hours(@activity.opening_hours).each do |oh| %>
            <p><%= oh %></p>
          <% end %>
        </div>
      </div>
    </div>

  </div>
  <div class="text-white"> <!-- duration -->
    <p>Duration : <%= @activity.duration.to_time.strftime("%H:%M") %></p>
  </div>
</main>



