<!DOCTYPE html>
<html>
  <head>
    <title>LucetteTravel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= link_to "#" do %>
      <div data-controller="fakebooking" data-fakebooking-target="count">
        <i class="far fa-bell text-gray text-2xl text-gray-600 mx-4"></i>
      </div>
    <% end %>
    <%#= render 'shared/navbar' %>
    <%= render 'shared/burger-menu' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</br></br></br></br></br>
    <%= yield %>

    <!-- <script src='javascript/plugins/hammer.js'></script> -->
  </body>
</html>
